


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class=" container-fluid">
        <a class="navbar-brand" href="/">
            <img src="https://www.gannett-cdn.com/presto/2019/12/13/USAT/f61cfd97-db5d-44c8-9d74-36158df0349d-AP_Spain_Soccer_La_Liga.JPG?crop=1601,901,x246,y508&width=1601&height=901&format=pjpg&auto=webp" alt="" width="45" height="45">
            Home
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/teams">My Teams</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/players">Players</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
        </div>
    </div>
</nav>